<div>
  <%= form_for @request do |f| %>
    <div>
        <h1>Form Validation</h1>
    </div>

    <div>
      <%= f.label :request_type %>
      <%= f.collection_radio_buttons(:request_type, Request.request_type.values, :value, :text, { checked: Request.request_type.values.first }) do |b|
        b.label do %>
          <%= b.radio_button(onchange: "toggle_input_type('#{b.value}');") %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= f.label :algorithm_type %>
      <%= f.collection_radio_buttons(:algorithm_type, Request.algorithm_type.values, :value, :text, { checked: Request.algorithm_type.values.first }) do |b|
        b.label do %>
          <%= b.radio_button %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= f.label :odr_api_path_length %>
      <%= f.number_field :odr_api_path_length, value: 3, in: 2..10 %>
    </div>

    <div>
      <%= f.label :odr_api_number_resources %>
      <%= f.number_field :odr_api_number_resources, value: 1, in: 1..10 %>
    </div>

    <div>
      <%= f.label :odr_api_cycles %>
      <%= f.check_box :odr_api_cycles %>
    </div>

    <div id="input_matrix_buttons">
      <div>
        <%= f.label :matrix_size %>
        <%= f.number_field :matrix_size, value: 4, in: 4..15 %>
      </div>

      <div>
        <%= f.label :is_directed_graph %>
        <%= check_box_tag(:is_directed_graph) %>
      </div>

      <div id='input_table'>
      </div>
    </div>

    <div id="map">
      <%= map(:center => {
              latlng: [51.52238797921441, -0.08366235665359283],
              zoom: 18
            })
      %>
    </div>

    <div>
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
