<div>
  <%= form_for @request do |f| %>
    <div>
        <h1>Form Validation</h1>
    </div>

    <div>
      <%= f.label :request_type %>
      <%= f.collection_radio_buttons(:request_type, Request.request_type.values, :value, :text) do |b|
        b.label do %>
          <%= b.radio_button %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= f.label :algorithm_type %>
      <%= f.collection_radio_buttons(:algorithm_type, Request.algorithm_type.values, :value, :text) do |b|
        b.label do %>
          <%= b.radio_button %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= f.label :odr_api_path_length %>
      <%= f.number_field :odr_api_path_length, value: 3, in: 2..10 %>
    </div>

    <div>
      <%= f.label :odr_api_number_resources %>
      <%= f.number_field :odr_api_number_resources, value: 1, in: 1..10 %>
    </div>

    <div>
      <%= f.label :odr_api_cycles %>
      <%= f.check_box :odr_api_cycles %>
    </div>

    <div>
      <button type="button" value="1">0</button>
      <button type="button" value="2">0</button>
      <button type="button" value="3">0</button>
      <button type="button" value="4">0</button>
    </div>

    <div>
      <button type="button" value="5">0</button>
      <button type="button" value="6">0</button>
      <button type="button" value="7">0</button>
      <button type="button" value="8">0</button>
    </div>
    <div>
      <button type="button" value="9">0</button>
      <button type="button" value="10">0</button>
      <button type="button" value="11">0</button>
      <button type="button" value="12">0</button>
    </div>
    <div>
      <button type="button" value="13">0</button>
      <button type="button" value="14">0</button>
      <button type="button" value="15">0</button>
      <button type="button" value="16">0</button>
    </div>

    <div id="map" style="height: 360px"></div>

    <div>
      <%= f.submit "Submit" %>
    </div>
  <% end %>
</div>
