<div>
  <%= form_for @request do |f| %>
    <div>
        <h1>Form Validation</h1>
    </div>

    <div>
      <%= f.label :request_type %>
      <%= f.collection_radio_buttons(:request_type, Request.request_type.values, :value, :text, { checked: Request.request_type.values.first }) do |b|
        b.label do %>
          <%= b.radio_button(onchange: "toggle_input_type('#{b.value}');") %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= f.label :algorithm_type %>
      <%= f.collection_radio_buttons(:algorithm_type, Request.algorithm_type.values, :value, :text, { checked: Request.algorithm_type.values.first }) do |b|
        b.label do %>
          <%= b.radio_button %>
          <%= b.text %>
        <% end %>
      <% end %>
    </div>

    <div>
      <%= f.label :odr_api_path_length %>
      <%= f.number_field :odr_api_path_length, value: 3, in: 2..10 %>
    </div>

    <div>
      <%= f.label :odr_api_number_resources %>
      <%= f.number_field :odr_api_number_resources, value: 1, in: 1..10 %>
    </div>

    <div>
      <%= f.label :odr_api_cycles %>
      <%= f.check_box :odr_api_cycles %>
    </div>

    <div id='input_matrix_buttons'>
      <div>
        <%= f.label :matrix_size %>
        <%= f.number_field :matrix_size, value: 4, in: 4..15 %>
      </div>

      <%= f.fields_for :input_matrix_request do |input_matrix_form| %>
        <div>
          <%= input_matrix_form.label :is_directed_graph %>
          <%= input_matrix_form.check_box :is_directed_graph %>
        </div>
      <% end %>

      <div id='input_table'>
      </div>
    </div>

    <div id='input_map'>
      <%= f.fields_for :open_street_map_request do |osm_form| %>
        <div>
          <%= osm_form.label :min_latitude %>
          <%= osm_form.text_field :min_latitude, readonly: true %>
        </div>

        <div>
          <%= osm_form.label :max_latitude %>
          <%= osm_form.text_field :max_latitude, readonly: true %>
        </div>

        <div>
          <%= osm_form.label :min_longitude %>
          <%= osm_form.text_field :min_longitude, readonly: true %>
        </div>

        <div>
          <%= osm_form.label :max_longitude %>
          <%= osm_form.text_field :max_longitude, readonly: true %>
        </div>

        <div id='map'>
          <%= map(:center => {
                  latlng: [51.52238797921441, -0.08366235665359283],
                  zoom: 18
                })
          %>
        </div>
      <% end %>
    </div>

    <div>
      <%= f.submit 'Submit' %>
    </div>
  <% end %>
</div>
