<div>
  <h2>Solution is: <%= @request.solution %></h2>

  <% unless @request.solution.present? %>
    <%= link_to request_path(@request.id), { onclick: 'history.go(0)' } do %>
      <button id='solution_refresh_button'>Refreshing in 5</button>
    <% end %>
  <% end %>

  <div>
    <h3>Summary</h3>

    <p>Path Length: <%= @request.odr_api_path_length %></p>
    <p>Number of resources: <%= @request.odr_api_number_resources %></p>
    <p>Cycles: <%= @request.odr_api_cycles %></p>

    <% if @request.input_matrix_request? %>
      <p>Input Matrix: <%= @request.odr_api_matrix %></p>
    <% elsif @request.open_street_map_request? %>
      <div id='map'>
        <%= map(center: {
                latlng: [51.52238797921441, -0.08366235665359283],
                zoom: 18
              },
              markers: @coordinates.each_with_index.map { |c, i| {
                latlng: [c.first, c.second], popup: "Solution ID [#{i}]: #{c.first}, #{c.second}"
              } }
            )
        %>
      </div>
    <% end %>
  </div>
</div>
