<div>
  <h2>Solution is: <%= @my_request.solution %></h2>

  <% if @my_request.solution.nil? %>
    <%= link_to request_path(@my_request.id), { onclick: 'history.go(0)' } do %>
      <button id='solution_refresh_button'>Refreshing in 5</button>
    <% end %>
  <% end %>

  <div>
    <h3>Summary</h3>

    <p>Path Length: <%= @my_request.odr_api_path_length %></p>
    <p>Number of resources: <%= @my_request.odr_api_number_resources %></p>
    <p>Cycles: <%= @my_request.odr_api_cycles %></p>

    <% if @my_request.input_matrix_request? %>
      <p>Input Matrix: <%= @my_request.odr_api_matrix %></p>
    <% elsif @my_request.open_street_map_request? %>
      <div id='map'>
        <%= map(center: {
                latlng: [51.509865, -0.118092],
                zoom: 18
              },
              markers: @coordinates.each_with_index.map { |c, i| {
                latlng: [c.second, c.third], popup: "Solution ID [#{c.first}]: #{c.second}, #{c.third}"
              } }
            )
        %>
      </div>
    <% end %>
  </div>
</div>
